.container  {
  /* background-color: lightgreen;*/
   margin: 0 auto;
   width:1100px;
}
.header-wrapper {
	width:100%;
	/*background-color: lightblue*/
	/*border:1px dotted black;*/
	}
.logo-search-wrapper {
	width:800px;
	float:left;
	/*background-color: #bbaacc;*/
	/*border:1px dotted black;*/
	color: black;
	/*box-sizing:border-box;*/
	}
.logo-wrapper{
	/*background-color: #ddffaa;*/
	color: black;
	float: left;
	width:300px;
	outline:1px dotted black;
}
.search-wrapper {
	width:500px;
	float: right;
	/*background-color: magenta;*/
	outline:1px dotted black;
	}
.username-wrapper{
	width:300px;
	/*background-color: purple;*/
	float:right;
	outline:1px dotted black;
}
.nav-wrapper {
	/*background-color: yellow;*/
	width:100%
	}
.nav-list-wrapper {
	/*background-color: olive;*/
	float:left;
	width:700px;
	outline:1px dotted black;
}
.nav-userinfo-wrapper{
	float:right;
	width:400px;
	/*background-color: orange;*/
	outline:1px dotted black;
}
.body-wrapper {
	/*background-color: tomato;*/
	width:100%
	}
.left-sidebar-wrapper{
	/*background-color: green;*/
	width:700px;
	float:left;
	}
.left-child-sidebar-wrapper{
	/*background-color: #abcdef;*/
	width: 400px;
	float: left;
	outline:1px dotted black;
}
.content-wrapper {
	/*background-color: blue;*/
	width: 300px;
	float: right;
	outline:1px dotted black;
	}
.right-sidebar-wrapper{
	/*background-color: white;*/
	color: black;
	float:right;
	width:400px;
	outline:1px dotted black;
}
.footer-wrapper {
	/*background-color: pink;*/
	width: 100%;
}
.left-footer-wrapper {
	/*background-color: #fcdeab;*/
	width: 600px;
	float: left;
	outline:1px dotted black;
}
.right-footer-wrapper {
	/*background-color: #bacfde;*/
	width: 500px;
	float: right;
	outline:1px dotted black;
}